@import "malina.css";
@import "ubuntu.css";

html, body {height: 100%;}

body {margin: 0; font-family: 'ubunturegular'; font-size: 14px; color: #ffffff; background: #2a2f3b url(../images/bg_blur.jpg) no-repeat top center;  }

a:focus,
a:visited {color: #ffffff; text-decoration: none; outline: none;}

.container {width: 960px; position: relative; z-index: 1;}

.ac-header {line-height: 36px; margin: 15px 0; clear: both;}

.ac-main-content {position: relative; margin-top: 70px;}

.ac-logo {background: url(../images/appcent-logo.svg) no-repeat center center; background-size: contain; width: 163px; height: 38px;}

.ac-nav {list-style: none; margin: 0; padding: 0;}
.ac-nav > li {line-height: 36px}
.ac-nav > li {padding-right: 35px; display: block; float: right;}
.ac-nav li a {color: #ffffff; font-size: 15px; text-decoration: none;}
.ac-nav li a:hover {color: #fceb55; text-decoration: none;}

.ac-nav > li.ac-close-menu {display: none;}
.ac-show-menu .ac-nav > li.ac-close-menu {display: block; position: absolute; width: 20px; height: 20px; background: url(../images/close.png) no-repeat center center; background-size: contain; top: 10px; right: 16px; z-index: 110; cursor: pointer; margin: 14px 0 40px 40px;}

.ac-lang {cursor: pointer; display: block; border-left: 2px solid #686a6f;  margin-left: 0; padding-left: 37px;}

.ac-nav li a.ac-dropdown-icon {cursor: pointer; position: relative; color: #ffffff; text-decoration: none;}
.ac-nav li a.ac-dropdown-icon:hover {text-decoration: none;}
.ac-nav li a.ac-dropdown-icon:after {content: ""; display: block; width: 12px; height: 8px; background: url(../images/ac-arrow-lang.svg) no-repeat center center; top: 50%; right: -20px; position: absolute; transition: transform 0.5s ease; margin-top: -4px;}

.ac-lang .ac-dropdown {z-index: -1; opacity: 0; margin: 0; position: absolute; text-align: center; background-color: #464646; padding: 2px; border-radius: 4px; width: 42px; transition: all 0.5s ease;}
.ac-lang.ac-dropdown-show .ac-dropdown {opacity: 1; z-index: 10;}

.ac-lang.ac-dropdown-show a.ac-dropdown-icon:after {transform: rotateX(180deg);}

.ac-lang li {line-height: 21px; height: 21px;}

.ac-mobile-menu {display: none; width: 20px; height: 20px; background: url(../images/menu.svg) no-repeat center center; background-size: contain; cursor: pointer; margin: 9px 0 0 0}

/*.ac-content {margin-top: -26px;}*/

.ac-iphone {margin-left: inherit; height: 525px; background: url(../images/iphone2x.png) no-repeat center center; background-size: contain; position: relative;}
.ac-video-button-container {position: absolute; top: 98px; left: 245px; width: 193px; height: 343px; display: block;}

.ac-title-content {font-family: 'als_malinaregular'; font-size: 33px; color: #fceb55; margin-top: 90px; line-height: 38px; width: 436px;}

.ac-text {margin: 10px 0 15px 9px; font-size: 18px;}

.ac-download-buttons {margin-left: 1px;}

.ac-btn {border-radius: 6px; border: 1px solid #ffffff; display: inline-block; height: 55px; width: 180px; cursor: pointer; margin: 0 8px;}
.ac-btn:hover {background-color: rgba(255, 255, 255, 0.1);}

.ac-apple-btn {background: url(../images/apple-btn.png) no-repeat center center; background-size: contain;}
.ac-android-btn {background: url(../images/google-btn.png) no-repeat center center; background-size: contain;}

.ac-phone-input-container {width: 379px; clear: both; margin: 10px 0 0 9px; position: relative; height: 46px;}

.ac-sent-app-btn, .ac-sent-app-btn:hover {text-decoration: none; display: block; background-color: #fceb55; border-radius: 5px; width: 100%; line-height: 46px; text-align: center; color: #2a2c31; font-size: 18px; cursor: pointer;}

.ac-input-block.ac-hide, .ac-sent-app-btn.ac-hide {z-index: 9; opacity: 0;}

.ac-input-block {position: absolute; top: 0; left: 0; width: 100%; z-index: 10; opacity: 1;}

.ac-free-gift-card-container {font-size: 18px; line-height: 33px; height: 33px; margin-top: 75px; margin-left: 11px;}

.ac-free-gift-card-container a {color: #fff; text-decoration: underline;}

.ac-free-gift-card-logos {display: inline-block; margin-left: 20px; width: 218px; height: 33px; background: url(../images/free-gift-card-logos.png) no-repeat center center; background-size: contain;}

.ac-footer {margin-top: 90px; margin-bottom: 15px;}

.ac-creator {opacity: 0.5;}
.ac-creator p {margin: 0;}

.ac-creator-logo {display: block; width: 174px; height: 28px; background: url(../images/wakeapp_logo.svg) no-repeat center center; background-size: contain;}

.ac-contact-info {width: auto; list-style: none; margin-left: -7px; line-height: 18px;}
.ac-contact-info a {color: #dfd156; text-decoration: underline;}

.ac-social-icons {list-style: none; opacity: 0.5;}
.ac-social-icons li {display: inline-block; padding: 12px 4px;}

.ac-social-icon {width: 30px; height: 30px; background-size: contain; background: no-repeat center center; display: block;}

.ac-icon-facebook {background-image: url(../images/social/facebook.svg);}
.ac-icon-instagram {background-image: url(../images/social/instagram.svg);}
.ac-icon-twitter {background-image: url(../images/social/twitter.svg);}
.ac-icon-youtube {background-image: url(../images/social/youtube.svg);}

.ac-looi-logo {width: 49px; height: 33px; background: url(../images/looi-logo.svg) no-repeat center center; background-size: contain; margin-top: 10px;}
.ac-copyright {margin-left: 16px; margin-top: 3px; font-size: 14px; line-height: 50px; color: rgba(255, 255, 255, 0.5); position: relative; padding-left: 20px; padding-right: 15px; border-right: 1px solid #7d7c82;}

.ac-copyright-content {width: auto;}

.ac-popup-content span {color: #fceb55;}

.ac-copyright:before {content: ""; display: inline-block; width: 16px; height: 16px; background: url(../images/copy.svg) no-repeat center center; background-size: contain; position: absolute; top: 50%; margin-top: -8px; left: 0;}

.ac-mobile {display: none;}

.ac-popup-box {position: fixed; width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(0, 0, 0, 0.5); z-index: 10000;}

.ac-popup-container {background-color: #2a2f3b; opacity: 0.97; padding: 60px; width: 523px; height: 654px; margin: auto; position: fixed; top: 0; left: 0; right: 0; bottom: 0; box-shadow: 0 0 98px 20px rgba(0, 0, 0, 0.8);}

.ac-popup-close {display: block; position: absolute; width: 20px; height: 20px; top: 17px; right: 17px; cursor: pointer; background: url(../images/close.png) no-repeat center center; background-size: contain;}

.ac-popup-content {font-size: 16px; text-align: center;}

.ac-form-lable {margin-top: 43px;}

.ac-dropdown li {display: block; line-height: 21px; padding: 0;}

.ac-form-field {margin-top: 15px; width: 100%; height: 45px; border-radius: 6px; border: 1px solid #fceb55;}

.ac-form-search_field {background-color: #282d37; color: #777a81; text-align: center;}

.ac-form-btn {color: #2b2f3b; background-color: #fceb55;}

.ac-form-iphone {/*height: 273px;*/ height: 310px; background: url(../images/ac-dialog-send.png) no-repeat center top; background-size: contain; margin-top: 32px;}

.ac-sent-app-container {opacity: 1; position: absolute; top: 0; left: 0; z-index: 1; width: 100%; transition: all 1s ease;}
.ac-sent-app-container.ac-hide {opacity: 0; z-index: -1;}

.ac-phone-input-block {position: absolute; top: 0; left: 0; width: 100%; opacity: 1; transition: all 1s ease; z-index: 1;}
.ac-phone-input-block.ac-hide {opacity: 0; z-index: -1;}
.ac-phone-input-block input {border: 1px solid #fceb55; padding: 0 10px; border-radius: 5px 0 0 5px; height: 46px; background-color: transparent; width: calc(100% - 68px); float: left; font-size: 18px;}

.ac-phone-input-btn {background: #fceb55 url(../images/send.png) no-repeat center center; background-size: contain; border-radius: 5px; border: 1px solid #fceb55; height: 46px; width: 72px; margin-left: -4px; float: right; cursor: pointer;}

.ac-footer.row,
.ac-main-content.row {margin-left: 0; margin-right: 0;}

.ac-video-container {position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 0; background-color: rgba(42, 47, 59, 1);}
.ac-video {width: 100%; opacity: 0.15;}

.ac-send-message-container {position: absolute; top: 0; left: 0; width: 100%; opacity: 1; transition: all 1s ease; z-index: 1;}
.ac-send-message-container.ac-hide {opacity: 0; z-index: -1;}
.ac-send-message-container p {font-size: 16px; line-height: 23px; margin: 0;}
.ac-send-message-container span {color: #9a944f;}

.ac-clock {position: relative; padding-left: 20px;}
.ac-clock i {font-style: normal;}
.ac-clock:before {content: ""; display: block; width: 16px; height: 16px; background: url(../images/clock.svg) no-repeat center center; background-size: contain; position: absolute; top: 2px; left: 0;}
a.ac-send-again {color: #fceb55; text-decoration: underline; cursor: pointer;}

@media (max-width: 960px) {
	.ac-popup-container {height: 100%; width: 100%; padding: 30px;}

	.ac-pc {display: none;}
	.ac-mobile {display: block;}

	.ac-btn {border: 1px solid #fceb55; background-color: #fceb55;}
	.ac-android-btn {background-image: url(../images/google-btn-mobile.png);}
	.ac-apple-btn {background-image: url(../images/apple-btn-mobile.png);}

	.ac-nav {display: none;}
	.ac-mobile-menu {position: relative; z-index: 100; display: inline-block;}

	.ac-show-menu .ac-nav {margin: 0; display: block; float: none; position: fixed; top: 0; left: 0; right: 0; background-color: rgba(42, 47, 59, 0.98); height: 100%; text-align: center; z-index: 100;}
	.ac-show-menu .ac-nav > li.ac-lang,
	.ac-show-menu .ac-nav > li {float: none; border: 0; padding: 0; margin: 0 auto; line-height: 57px; height: 57px;}
	.ac-nav li a {font-size: 24px;}
	.ac-lang li {line-height: 28px; height: 28px;}

	.ac-iphone {margin: 0 auto; background-image: url(../images/iphone-mobile.png); background-size: 600px; width: 100%; height: 969px;}

	.ac-download-buttons,
	.ac-title-content {width: 100%; margin: 0;}

	.ac-phone-input-container,
	.ac-creator p {display: none;}
	.ac-creator-logo {width: 117px; height: 20px; margin: 0 auto; }

	.ac-copyright-content {margin: auto; text-align: center; float: none; width: 100px;}

	.ac-copyright {border: 0;}

	.ac-contact-info {margin: 0; line-height: 24px;}
	.ac-contact-info li {width: 100%; text-align: center; }

	.ac-social-icons {margin: auto; text-align: center;}
	.ac-social-icons li {display: inline-block; height: 54px; padding: 12px 5px;}

	.ac-looi-logo {margin: 28px auto 35px auto;}

	.ac-main-content.row {margin-left: -15px; margin-right: -15px;}

	.ac-free-gift-card-container {text-align: center; width: 100%; height: 100px;}
	.ac-free-gift-card-logos, .ac-free-gift-card-container span {float: none; width: 100%; margin: 0; padding: 0;}
	.ac-free-gift-card-logos {margin: 20px 0 50px 0;}

	.ac-content {width: 100%; text-align: center; margin: auto; float: none;}

	body {background: #2a2f3b url(../images/bg_mobile.jpg) no-repeat top center;}

	.container {width: 100%;}
	.ac-show-menu .ac-close-menu {display: block;}

	.ac-lang .ac-dropdown {width: 112px; max-width: 100%; padding: 4px 6px; right: 0; left: 0; margin: auto;}

	.ac-video-container {display: none;}

	.ac-video-button-container {margin: auto; left: 0; right: 0; top: 137px; width: 244px; height: 433px;}

	/*.ac-no-scroll {overflow: hidden; position: fixed;}*/
}

@media (max-width: 480px) {
	.ac-btn {display: block; margin: 19px auto 0 auto;}

	.ac-footer {margin-top: 80px;}
}